* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
}

html,
body {
    overflow-x: hidden;
}

/***********TOP CONTACT BANNER SECTION START************/
.contactWrapper {
    background-image: url('../../../assets/Images/contactusbg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 0.5s ease;
    height: 500px;
    width: 100%;
    position: relative;
}

.contactWrapper .ContactBanner .contactHead {
    color: var(--white);
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    margin-bottom: 0px;
}

/******************CONTACT BANNER SECTION START******************/
.ContactUS .ConnectUs {
   padding: 6rem 0rem;
}

.ContactUS .ConnectUs .Connect {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--black);
}

.ContactUS .ConnectUs .ConnectSpeech {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--red);
}

/*************ENQUIRY MENU SECTION START**************/
.EnquiryMenu {
    background-color: var(--banner-bg-color);
    padding: 80px 0px;
}

.EnquiryMenu .EnquiryHead {
    text-align: start;
    font-size: 3rem;
    color: var(--red);
    font-weight: 700;
    margin-bottom: 18px;
    line-height: 1.4;
}

.EnquiryMenu .EnquiryCont {
    text-align: start;
    font-size: 1.2rem;
    color: var(--white);
    font-weight: 700;
    line-height: 1.8;
}

/***********CONTACT US SECTION START**************/
.ContactForm .ContactTouch .TalkUs {
    font-size: 2.8rem;
    color: var(--red);
    font-weight: 700;
    margin-top: 2rem;
}

.ContactForm .ContactTouch .ReachUs {
    color: #5E5E5E;
    font-weight: 600;
}


/************MEDIA QUERY START************/
@media(max-width:991px) {
    .contactWrapper .ContactBanner .contactHead {
        font-size: 2.6rem;
    }
}