* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
}

.FormInput input[type="text"] {
    width: 100%;
    border: none;
    outline: none;
    padding: 0.6rem 0.9rem;
    box-shadow: 0px 1px 2px 1px #5f5e5e38;
    border-radius: 6px;
    margin-bottom: 1.2rem;
}

.FormInput input[type="email"] {
    width: 100%;
    border: none;
    outline: none;
    padding: 0.6rem 0.9rem;
    box-shadow: 0px 1px 2px 1px #5f5e5e38;
    border-radius: 6px;
    margin-bottom: 1.2rem;
}

.FormInput select {
    width: 100%;
    border: none;
    outline: none;
    padding: 0.6rem 0.9rem;
    box-shadow: 0px 1px 2px 1px #5f5e5e38;
    border-radius: 6px;
    margin-bottom: 1.2rem;
}

.FormInput input[type="tel"] {
    width: 100%;
    border: none;
    outline: none;
    padding: 0.6rem 0.9rem;
    box-shadow: 0px 1px 2px 1px #5f5e5e38;
    border-radius: 6px;
    margin-bottom: 1.2rem;
}

.FormInput textarea {
    width: 100%;
    border: none;
    outline: none;
    padding: 0.6rem 0.9rem;
    box-shadow: 0px 1px 2px 1px #5f5e5e38;
    border-radius: 6px;
    margin-bottom: 1.2rem;
}

.FormInput .Submitbtn {
    width: 50%;
    background-color: var(--red);
    color: var(--white);
    padding: 0.6rem 0.9rem;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 1.1rem;
    font-weight: 700;
}

.FormInput .formError {
    color: var(--red);
    font-size: 0.8rem;
    font-weight: 700;
    margin-bottom: 0.6rem;
}