:root {
    --red: #a30b2d;
    --white: #ffffff;
    --box-bg-color: #353535;
    --header-text-black: #2f3534;
    --para-text-color: #2B2B2B;
    --card-head-color: #000000d2;
    --card-para-color: #5E5E5E;
    --black: #000000f6;
    --banner-bg-color: #0b0c26;
    --blue: #D5FAFC;
}

.slick-slide>div {
    margin: 0px 10px;
}